@model IpstsetSite.Models.HangmanViewModel

@{
    ViewBag.Title = "Hangman";
    Layout = "~/Views/Shared/_LayoutPlay.cshtml";
}

@section HeadAdditions
{
<link href="@Url.Content("~/Content/Hangman.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/ipstset.modal.js")" type="text/javascript"></script>
<script type="text/javascript">
    //convert the order model to js object
    var gameOver = @Model.GameOver.ToString().ToLower();
    
    var popMessage = {};
    
    $(document).ready(function () {
        if(!gameOver)
         $(".game-input").focus();

        popMessage = new ipstset_modal.Modal($('#pop-message'));
 
    });
    
    function showMessage(){
        popMessage.show();
    }
    
    
    function resetScore() {
        var reset = confirm("Do wish to rest your score to 0?");
        if(reset) {
            var key = "it_p_hscr";
            var date = new Date();
            date.setDate(date.getDate() -1);
            document.cookie = escape(key) + '=;expires=' + date +'; path=/';

            $(".scoreboard-val").html("0");
        };
            
    }
</script>
}



<div class="game-container">

<div class="game-header">

@{
    
    
    if (Model.GameOver && !Model.GameWon)
    {
        <div class="game-over">
            GAME OVER! You lose! <a href="@Url.Content("~/play/hangman?gametype=" + Model.GameType.Text)">>new game</a>
        </div>
    }

    if (Model.GameOver && Model.GameWon)
    {
        <div class="game-over game-over-win">
            GAME OVER! You win! <a href="@Url.Content("~/play/hangman?gametype=" + Model.GameType.Text)">>new game</a>
        </div>
    }
}

<div class="scoreboard">
    <div class="scoreboard-block">
        <span>wins</span>
        <span class="scoreboard-val">@Model.Scoreboard.Wins</span>
    </div>
    <div class="scoreboard-block">
        <span>losses</span>
       <span class="scoreboard-val"> @Model.Scoreboard.Losses</span>
    </div>
    <div class="scoreboard-block">
        <span>cons.w.</span>
        <span class="scoreboard-val">@Model.Scoreboard.MaxStreak</span>
    </div>
</div>
<br style="clear: both;"/>
</div>


<h2>@Model.Clue</h2>

<div class="letters">
 @foreach (var c in Model.Characters)
{
    if(c.Tiled)
    {
        var style = c.Visible ? "letter-block-shown" : "";
        <span class="letter-block @style">@c.Display</span>
    }
    else
    {
        <span class="letter-block-none">@c.Display</span>
    }

} 

<br style="clear: both;"/>  
</div>
<br style="clear: both;"/>  




@{
    if (@Model.Message != null)
    {
        var msgStyle = "input-message";
        if((int)Model.Message.Type == 0)
        {
            msgStyle += " input-message-error";
        }
            
        <p class="@msgStyle">@Model.Message.Text</p>
    }
}


<div class="input-block">




<form id="game-input" method="POST" action="@Url.Content("~/play/hangman")" autocomplete="off">
enter a letter:<br/>
<input class="game-input" type="text" name="Guessed" maxlength="1"/>
<input class="game-submit" type="submit" value="enter"/>
<input type="hidden" name="GameId" value="@Model.Id"/>

</form>
<div class="input-block-guessed">
previous guesses:<br/>
@{
    foreach (var guess in Model.Guessed)
    {
        <span>@guess</span>
    }
        
}
</div>
<div class="input-block-remaining">
remaining:<br/>
<span>
@Model.RemainingGuesses
</span>
</div>

<br style="clear: both;"/>
<div class="help-box" onclick="showMessage();" title="help">?</div>  
</div>
<div class="image-block">
    @{
        var img = Model.RemainingGuesses.ToString();
        if (Model.GameOver && Model.GameWon)
        {
            img = "w";
        }
            
    }

    <img src="@Url.Content("~/Content/images/bomb_" + img + ".png")"/>
</div>
<br style="clear: both;"/>


<div id="pop-message">

<p>You have 6 chances to guess the word or phrase before the bomb explodes.</p>
<p>Enter your guess in the gray text box using your keyboard and either press the enter key or click the on-screen enter button to submit your guess.</p>
<p><a href="#" onclick="resetScore();">Want to reset your score?</a></p>
</div>

